<header>
    <nav class="" style="background: black;">
        <h1 class="logo">BookFinder</h1>
        <ul>
            <li><a routerLink="/homepage">Home</a></li>
            <li><a routerLink="/bookclub">BookClub</a>
            </li>
            <li><a routerLink="/search">Search</a>
            </li>
            <li><a routerLink="/aboutus">About
                    US</a></li>
                    <li><a routerLink="/homepage/aboutus">Log Out</a></li>
    
        </ul>
    </nav>

    <div class="row">
        <div class="col-lg-6 mx-auto">

            <!-- CUSTOM BLOCKQUOTE -->
            <blockquote
                class="blockquote blockquote-custom bg-white p-5 shadow-sm rounded ">
                <div
                    class="blockquote-custom-icon bg-success shadow-sm">
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-bookmark-heart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                        <path fill-rule="evenodd" d="M8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"/>
                      </svg>
                </div>
                <p class="mb-0 mt-2 text-monospace">“In the case of good books, the point is not to see how many of them you can get through, but rather how many can get through to you.”
                </p>
                <footer class="blockquote-footer pt-4 mt-4 border-top d-flex align-items-right">Mortimer J. Adler
                 </footer>
            </blockquote><!-- END -->
        </div>
    </div>

</header>


<router-outlet></router-outlet>