<div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab"
			class="sign-in" checked>
		<label for="tab-1" class="tab">Sign In</label>
		<input id="tab-2" type="radio" name="tab"
			class="sign-up">
		<label for="tab-2" class="tab"> Sign Up</label>
		<div class="login-form">
			<div class="sign-in-htm "
				[formGroup]="fbFormGroup1">
				<div class="group">
					<label for="user"
						class="label">Username</label>
					<input id="user" type="text"
						class="input form-control"
						formControlName="username">
				</div>
				<div class="group">
					<label for="pass"
						class="label">Password</label>
					<input id="pass" type="password"
						class="input form-control"
						formControlName="password"
						data-type="password">
				</div>

				<div class="group">
					<input type="submit" class="button"
						value="Sign In"
						[disabled]="!fbFormGroup1.valid"
						(click)="login()">
				</div>

			</div>
			<div class="sign-up-htm"
				[formGroup]="fbFormGroup">
				<div class="group">
					<label for="user"
						class="label">Username</label>
					<input id="user1" type="text"
						class="input form-control"
						formControlName="username">
				</div>
				<div class="group">
					<label for="pass"
						class="label">Password</label>
					<input id="pass1" type="password"
						class="input class=" form-control
						formControlName="password"
						data-type="password">
				</div>
				<div class="group">
					<label for="email"
						class="label">Email</label>
					<input id="email" type="email"
						class="input class=" form-control
						formControlName="email">
				</div>
				<div class="group">
					<label for="mobile"
						class="label">Mobile</label>
					<input id="mobile" type="text"
						class="input  class=" form-control
						formControlName="mobile">
				</div>
				<div class="group">
					<input type="submit" class="button"
						value="Sign Up"
						(click)="register()">
				</div>
			</div>
		</div>
	</div>
</div>