 <!-- page-header -->
 <div class="page-header">
  <div class="container">
      <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="page-caption">
                  <h1 class="page-title">Books You Should Read</h1>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- /.page-header-->




<div class="image"> <!-- Page Content -->
<div class="container ">


  <!-- Portfolio Item Row -->
  <div class="row mb-4 bor">

    <div class="col-md-6 d-flex justify-content-center">
      <img class="rounder float-left" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1492290939l/34758995.jpg" alt="">
    </div>

    <div class="col-md-4 pt-4">
      <h3 class="my-3 pt-4">Unscripted: Life, Liberty, and the Pursuit of Entrepreneurship</h3>
      <p>Today's contemporary slavery is an implied social contract whereas a gilded cage is exchanged for voluntary indebtedness and lifelong toil, a price sacrificed by a non-redeemable fifty-years of Monday through Friday, a willful servitude in which freedom is only promised by the dawn of life's fading twilight.</p>
      <h3 class="my-3 pt-4">Book Details</h3>
      <ul>
        <li>M.J. DeMarco </li>
        <li>English </li>
        <li>Self-Help</li>
       </ul>
    </div>

  </div>
  <!-- /.row -->

  <!-- Portfolio Item Row -->
  <div class="row mb-4 bor ">

    <div class="col-md-6 d-flex justify-content-center">
      <img class="img-fluid" src="https://t1.bookpage.com/books/images/e58930194bc23465dadaacc1ab3c236a/large.jpg" alt="">
    </div>

    <div class="col-md-4 pt-4">
      <h3 class="my-3 pt-4">Anxious People</h3>
      <p>Anxious People could reasonably be called a mystery, but it’s also a deeply funny and warm examination of how individual experiences can bring a random group of people together. Backman reveals each character’s many imperfections with tremendous empathy, reminding us that people are always more than the sum of their flaws.</p>
      <h3 class="my-3 pt-4">Book Details</h3>
      <ul>
        <li>Fredrik Backman</li>
        <li>English </li>
        <li>Fiction</li>
        <li>Adipiscing Elit</li>
      </ul>
    </div>

  </div>
  <!-- /.row -->

    <!-- Portfolio Item Row -->
    <div class="row mb-4 bor">

      <div class="col-md-6 d-flex justify-content-center">
        <img class="img-fluid" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1535115320l/40121378._SY475_.jpg" alt="">
      </div>
  
      <div class="col-md-4 pt-4">
        <h3 class="my-3 pt-4">Atomic Habits</h3>
        <p>No matter your goals, Atomic Habits offers a proven framework for improving--every day. James Clear, one of the world's leading experts on habit formation, reveals practical strategies that will teach you exactly how to form good habits, break bad ones, and master the tiny behaviors that lead to remarkable results.</p>
        <h3 class="my-3 pt-4">Book Details</h3>
        <ul>
          <li>James Clear</li>
          <li>English</li>
          <li>Self-Help</li>
         </ul>
      </div>
  
    </div>
    <!-- /.row -->


  <!-- Related Projects Row -->
  <h3 class="my-4">Editors Peek </h3>

  <div class="row">

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
            <img class="img-fluid" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1518291452l/25541028.jpg" alt="">
          </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
            <img class="img-fluid" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1333576876l/10127019.jpg" alt="">
          </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
            <img class="img-fluid" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1465761302l/28257707.jpg" alt="">
          </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
            <img class="img-fluid" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1595674533l/23692271._SY475_.jpg" alt="">
          </a>
    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
</div>