<div class="container-fluid bg">
    <div class="row image">
        <!-- Left Block -->
        <div
            class="col d-flex flex-column justify-content-center align-items-center left">
            <div>
                <img src="../assets/books.svg" alt=""
                    srcset=""
                    style="height: 100px; width: 100px;">
            </div>
            <div class="h1 ">bookFinder</div>
            <div class="h3">
                The World Belong Those Who Reads...!
            </div>
        </div>


        <!-- Right Block-->

        <div class="col bg-light d-flex flex-column justify-content-center align-items-center"
            [formGroup]="fbFormGroup">
                       <div class="h4">REGISTER ACCOUNT</div>

            <div class="mt-1">
                <input type="text"
                    placeholder="Enter Username"
                    class="form-control"
                    formControlName="username" />
            </div>

            <div class="mt-1">
                <input type="password"
                    placeholder="Enter Password"
                    class="form-control"
                    formControlName="password" />
            </div>


            <div>
                <input type="email"
                    placeholder="Enter Email"
                    class="form-control"
                    formControlName="email" />
            </div>

            <div class="mt-1">
                <input type="text"
                    placeholder="Enter Mobile"
                    class="form-control"
                    formControlName="mobile" />
            </div>


            <button class="btn btn-sm btn-warning mt-2 mb-2"
                [disabled]="!fbFormGroup.valid"
                (click)="register()">
                Register 
            </button>

            <a routerLink="/login">Login Now</a>
        </div>
    </div>
</div>